get staff permissions in the server. Start by asking what to do to get staff permissions. Remember that you currently need to get staff from an admin, so you will want to start by applying for staff. To do it, send a message